beautifulsoup4==4.12.2
chardet==5.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.22
docx==0.2.4
docx2txt==0.8
langchain==0.2.10
langchain-community==0.2.9
langchain-core==0.2.27
langchain-openai==0.1.20
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.93
numpy==1.26.3
openai==1.37.0
openpyxl==3.1.2
pandas==2.1.4
tqdm==4.66.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
